# 01. Importing libraries

In [1]:
# Import pandas, numpy, and os libraries
import pandas as pd
import numpy as np
import os

# 02. Import csv files

In [2]:
# Import order_products__prior.csv and orders_checked.csv
# Create path
path = r'/Users/brucehickling/Library/CloudStorage/Dropbox/Courses/CareerFoundry/Data Immersion/4_Python/02-2023_Instacart Basket Analysis'

In [3]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [4]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [5]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,11.111483
1,2398795,1,2,3,7,15.000000
2,473747,1,3,3,12,21.000000
3,2254736,1,4,4,7,29.000000
4,431534,1,5,4,15,28.000000

In [7]:
df_ords_prior.shape

(32434489, 4)

In [8]:
df_ords.shape

(3421083, 6)

In [10]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [11]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,11.111483,196,1,0,both
1,2539329,1,1,2,8,11.111483,14084,2,0,both
2,2539329,1,1,2,8,11.111483,12427,3,0,both
3,2539329,1,1,2,8,11.111483,26088,4,0,both
4,2539329,1,1,2,8,11.111483,26405,5,0,both

In [12]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [14]:
df_merged_large_check = df_ords.merge(df_ords_prior, on = 'order_id', how = 'outer', indicator = True)

In [16]:
df_merged_large_check['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

In [17]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))