# 01. Task 4.8, Step 1

__Create a new notebook for this task. Be sure to import the relevant libraries, along with your ords_prods_merge dataframe, which should include your newly derived columns from the previous Exercise__

## 1.1 Importing libraries

In [1]:
# Importing pandas, numpy, and os libraries
# Import libaries
import pandas as pd
import numpy as np
import os

## 1.2 Importing data sets

In [2]:
# Import the orders_products_merged_derived.pkl file
path = r'/Users/brucehickling/Library/CloudStorage/Dropbox/Courses/CareerFoundry/Data Immersion/4_Python/02-2023_Instacart Basket Analysis'

In [3]:
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_derived.pkl'))

In [4]:
# Check shape, dimensions, and column names
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.000000,5,0,Mid-range product,Regularly busy,Regular days,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.000000,1,1,Mid-range product,Regularly busy,Regular days,Most orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.000000,20,0,Mid-range product,Busiest day,Busiest days,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,11.111483,10,0,Mid-range product,Regularly busy,Slowest days,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.000000,11,1,Mid-range product,Least busy,Slowest days,Most orders

In [5]:
df_ords_prods_merge.shape

(32404859, 17)

# 02. Task 4.8, Step 2

__In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe__

In [6]:
# Using agg() group data by 'department_id' and aggregate the 'order_number' data to get the average of orders by department group
df_ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

In [7]:
# Aggregate without using agg() - obtain mean of 'order_number' using .mean() function
df_ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

# 03. Task 4.8, Step 3

__Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code__

__Response to Step 3: the results from the full dataframe differ slightly from those of the subset - some values are larger and some are smaller - but the subset only provides a sample of the full data. and so the results from the dataframe will be more accurate.__

# 04. Task 4.8, Step 4

__Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions__

## 4.1 Use transform() to create a new column containing the maximum frequency of the 'order_number' column

In [8]:
df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [9]:
# Verify the newly created column 'max_order'
df_ords_prods_merge.head(15)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.000000,5,0,Mid-range product,Regularly busy,Regular days,Most orders,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.000000,1,1,Mid-range product,Regularly busy,Regular days,Most orders,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.000000,20,0,Mid-range product,Busiest day,Busiest days,Average orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,11.111483,10,0,Mid-range product,Regularly busy,Slowest days,Most orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.000000,11,1,Mid-range product,Least busy,Slowest days,Most orders,3
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26.000000,7,0,Mid-range product,Regularly busy,Busiest days,Average orders,26
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,30.000000,2,0,Mid-range product,Regularly busy,Regular days,Most orders,9
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,30.000000,1,0,Mid-range product,Regularly busy,Slowest days,Most orders,12
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,19.000000,1,0,Mid-range product,Regularly busy,Busiest days,Average orders,20
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,15.000000,2,1,Mid-range product,Regularly busy,Busiest days,Most orders,20
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,1,5,11,11.111483,1,0,Mid-range product,Regularly busy,Regular days,Most orders,10
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,7.000000,1,0,Mid-range product,Regularly busy,Slowest days,Most orders,43
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,13,7.000000,3,1,Mid-range product,Least busy,Slowest days,Most orders,43
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,12,12.000000,4,1,Mid-range product,Regularly busy,Regular days,Most orders,43
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,10,2.000000,8,0,Mid-range product,Regularly busy,Slowest days,Most orders,13

In [10]:
df_ords_prods_merge.shape

(32404859, 18)

In [11]:
# Creating the loyalty flags and deriving the new column 'max_order' with the loc() function
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [12]:
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <=40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [13]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

## 4.2 Check and verify the new column by

In [14]:
# Print the frequency of the 'loyalty_flag' column
df_ords_prods_merge['loyalty_flag'].value_counts (dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [15]:
# Check the flag has been correctly applied
df_ords_prods_merge[['user_id', 'order_number', 'loyalty_flag']].head(30)

    user_id  order_number      loyalty_flag
0       138            28  Regular customer
1       138            30  Regular customer
2       709             2      New customer
3       764             1      New customer
4       764             3      New customer
5       777            16  Regular customer
6       825             3      New customer
7       910            12  Regular customer
8      1052            10  Regular customer
9      1052            15  Regular customer
10     1379             1      New customer
11     1480            36    Loyal customer
12     1480            38    Loyal customer
13     1480            39    Loyal customer
14     1494             6  Regular customer
15     1494             7  Regular customer
16     1494             9  Regular customer
17     1540             4  Regular customer
18     1540             5  Regular customer
19     1540             6  Regular customer
20     1540             7  Regular customer
21     1540             8  Regular customer
22     1540             9  Regular customer
23     1540            14  Regular customer
24     1540            15  Regular customer
25     1540            18  Regular customer
26     1540            19  Regular customer
27     1540            20  Regular customer
28     1540            21  Regular customer
29     1540            22  Regular customer

# 05. Task 4.8, Step 5

__The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.__

In [16]:
# Use agg() to derive mean, minimum, and maximum of values from the 'prices' column after grouping by 'loyalty_flag'
df_ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max', 'sum']})

                     prices
                       mean  min      max          sum
loyalty_flag
Loyal customer    10.386336  1.0  99999.0  106814042.2
New customer      13.294670  1.0  99999.0   83011787.2
Regular customer  12.495717  1.0  99999.0  198391693.2

__New customers spend more per order on average than loyal and regular customers, whereas loyal customers have the lowest average spend per order__

# 06. Task 4.8, Step 6

__The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:
If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”__

In [17]:
# Use transform and mean function of NumPy to derive the average spend of each customer
df_ords_prods_merge['average_order'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [18]:
# Check df and verify the new column 'average_order'
df_ords_prods_merge.head(15)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.000000,5,0,Mid-range product,Regularly busy,Regular days,Most orders,32,Regular customer,6.935811
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.000000,1,1,Mid-range product,Regularly busy,Regular days,Most orders,32,Regular customer,6.935811
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.000000,20,0,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,11.111483,10,0,Mid-range product,Regularly busy,Slowest days,Most orders,3,New customer,4.972414
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.000000,11,1,Mid-range product,Least busy,Slowest days,Most orders,3,New customer,4.972414
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26.000000,7,0,Mid-range product,Regularly busy,Busiest days,Average orders,26,Regular customer,6.935398
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,30.000000,2,0,Mid-range product,Regularly busy,Regular days,Most orders,9,New customer,5.957576
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,30.000000,1,0,Mid-range product,Regularly busy,Slowest days,Most orders,12,Regular customer,6.680000
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,19.000000,1,0,Mid-range product,Regularly busy,Busiest days,Average orders,20,Regular customer,7.162500
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,15.000000,2,1,Mid-range product,Regularly busy,Busiest days,Most orders,20,Regular customer,7.162500
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,1,5,11,11.111483,1,0,Mid-range product,Regularly busy,Regular days,Most orders,10,New customer,5.813636
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,7.000000,1,0,Mid-range product,Regularly busy,Slowest days,Most orders,43,Loyal customer,5.081633
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,13,7.000000,3,1,Mid-range product,Least busy,Slowest days,Most orders,43,Loyal customer,5.081633
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,12,12.000000,4,1,Mid-range product,Regularly busy,Regular days,Most orders,43,Loyal customer,5.081633
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,10,2.000000,8,0,Mid-range product,Regularly busy,Slowest days,Most orders,13,Regular customer,6.803797

In [19]:
df_ords_prods_merge.shape

(32404859, 20)

In [20]:
# Create the spending flags and deriving the new column 'spending_flag' with the loc() function
df_ords_prods_merge.loc[df_ords_prods_merge['average_order'] >= 10, 'spending_flag'] = 'High spender'

In [21]:
df_ords_prods_merge.loc[df_ords_prods_merge['average_order'] < 10, 'spending_flag'] = 'Low spender'

In [22]:
# Check values of new column 'spending_flag' as well as dimensions of the df
df_ords_prods_merge.head(15)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,add_to_cart_order,reordered,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_order,spending_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,5,0,Mid-range product,Regularly busy,Regular days,Most orders,32,Regular customer,6.935811,Low spender
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,1,Mid-range product,Regularly busy,Regular days,Most orders,32,Regular customer,6.935811,Low spender
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,20,0,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208,Low spender
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,10,0,Mid-range product,Regularly busy,Slowest days,Most orders,3,New customer,4.972414,Low spender
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,11,1,Mid-range product,Least busy,Slowest days,Most orders,3,New customer,4.972414,Low spender
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,...,7,0,Mid-range product,Regularly busy,Busiest days,Average orders,26,Regular customer,6.935398,Low spender
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,...,2,0,Mid-range product,Regularly busy,Regular days,Most orders,9,New customer,5.957576,Low spender
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,...,1,0,Mid-range product,Regularly busy,Slowest days,Most orders,12,Regular customer,6.680000,Low spender
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,...,1,0,Mid-range product,Regularly busy,Busiest days,Average orders,20,Regular customer,7.162500,Low spender
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,...,2,1,Mid-range product,Regularly busy,Busiest days,Most orders,20,Regular customer,7.162500,Low spender
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,1,5,11,...,1,0,Mid-range product,Regularly busy,Regular days,Most orders,10,New customer,5.813636,Low spender
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,...,1,0,Mid-range product,Regularly busy,Slowest days,Most orders,43,Loyal customer,5.081633,Low spender
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,13,...,3,1,Mid-range product,Least busy,Slowest days,Most orders,43,Loyal customer,5.081633,Low spender
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,12,...,4,1,Mid-range product,Regularly busy,Regular days,Most orders,43,Loyal customer,5.081633,Low spender
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,10,...,8,0,Mid-range product,Regularly busy,Slowest days,Most orders,13,Regular customer,6.803797,Low spender

In [23]:
df_ords_prods_merge.shape

(32404859, 21)

# 07. Task 4.8, Step 7

__In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”__

## 7.1 Create order frequency flag using the median of the 'days_since_prior_order' values

In [25]:
# Use transform and the median function of NumPy to derive the median days since last order for each customer to create a new column 'median_order_frequency'
df_ords_prods_merge['median_order_frequency'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [26]:
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,reordered,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_order,spending_flag,median_order_frequency
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,0,Mid-range product,Regularly busy,Regular days,Most orders,32,Regular customer,6.935811,Low spender,8.000000
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,Mid-range product,Regularly busy,Regular days,Most orders,32,Regular customer,6.935811,Low spender,8.000000
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,0,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208,Low spender,8.000000
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,0,Mid-range product,Regularly busy,Slowest days,Most orders,3,New customer,4.972414,Low spender,11.111483
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,1,Mid-range product,Least busy,Slowest days,Most orders,3,New customer,4.972414,Low spender,11.111483

## 7.2 Create 'order_frequency' flag

In [27]:
# Use loc() of 'order_frequency' to create the flag
df_ords_prods_merge.loc[df_ords_prods_merge['median_order_frequency'] > 20, 'order_frequency'] = 'Not-frequent customer'

In [28]:
df_ords_prods_merge.loc[(df_ords_prods_merge['median_order_frequency'] <= 20) & (df_ords_prods_merge['median_order_frequency'] > 10), 'order_frequency'] = 'Regular customer'

In [29]:
df_ords_prods_merge.loc[df_ords_prods_merge['median_order_frequency'] <= 10, 'order_frequency'] = 'Frequent customer'

In [30]:
# Check the accuracy of the new column and dimensions of the new dataframe
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_order,spending_flag,median_order_frequency,order_frequency
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Mid-range product,Regularly busy,Regular days,Most orders,32,Regular customer,6.935811,Low spender,8.000000,Frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Mid-range product,Regularly busy,Regular days,Most orders,32,Regular customer,6.935811,Low spender,8.000000,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208,Low spender,8.000000,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,Mid-range product,Regularly busy,Slowest days,Most orders,3,New customer,4.972414,Low spender,11.111483,Regular customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,Mid-range product,Least busy,Slowest days,Most orders,3,New customer,4.972414,Low spender,11.111483,Regular customer

In [31]:
df_ords_prods_merge.shape

(32404859, 23)

# 08. Task 4.8, Step 9

__Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.__

In [32]:
# Export the results as 'orders_products_merged_aggregated.pkl'

In [33]:
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_aggregated.pkl'))